
_build/
_build-*/
build/
out/
*.user
*.suo
*.sln
*.vcxproj*
*.dir/
*.o
*.a
*.so
*.dylib


bin/
lib/
_install/
*.exe
*.dll


*.tar.gz
*.deb
*.rpm
*.zip
*.dmg
*.msi


.vscode/
.idea/
*.swp
*.swo


logs/
*.log


CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json


.DS_Store
